<p-toast position="top-left" />
<p-toolbar>
  <div class="p-toolbar-group-start">
    <i class="pi pi-sun" id="darkmode-icon"></i>
    <p-inputSwitch [(ngModel)]="darkmode" (onChange)="handleDarkModeChange(darkmode)" />
    <i class="pi pi-moon" id="darkmode-icon"></i>
  </div>
  <div class="p-toolbar-group-center">
    <h1 style="text-align: center;">SpeedTestCliker</h1>
  </div>
  <div class="p-toolbar-group-end">
    <p-splitButton  icon="pi pi-sliders-v"  (onClick)="handleDisplayButtonContainer()"  [model]="items" />
  </div>
</p-toolbar>
<div style="text-align: center;">

  @if(counter()==0){
  <h2>Compteur: {{counter()}} clic</h2>
  }
  @else {
  <h2>Compteur: {{counter()}} clics</h2>
  }
  @if(timer()==0){
  <h2>Temps: {{timer()}} seconde</h2>
  }
  @else {
  <h2>Temps: {{timer()}} secondes</h2>
  }
  @if (buttonContainer) {
  <div class="button-container">
    <h4>Options de tests</h4>
    <p-button (click)="increment()">+</p-button>
    <p-button (click)="reset()">reset counter</p-button>
    <p-button (click)="decrement()">-</p-button>
  </div>
  <div class="button-container">
    <p-button (click)="startTimer()">Start</p-button>
    <p-button (click)="resetTimer()">reset timer</p-button>
    <p-button (click)="stopTimer()">Stop</p-button>
  </div>
  }
  <div>
    @if(endSpeedTestButton){
    <div class="result-testClicker">
      <h2>Vous avez fait {{counter()}} clics en 10 secondes !</h2>
      <h3>Soit une moyenne de {{calculCPS()}} clics par seconde !</h3>
      <p-button (click)="startSpeedTestClicker()">Recommencer</p-button>
    </div>
    }
    @if(!speedTestButtonStart){
    <div [formGroup]="dialogFormGroup">
      <input type="text"
             [(ngModel)]="pseudoUser"
             pInputText
             formControlName="pseudoUser"
             placeholder="Votre pseudo"
             required />
      <p-button (click)="startSpeedTestClicker()"
                [disabled]="dialogFormGroup.invalid">
        Démarrer
      </p-button>
    </div>

    }
    @else {
    <button id="SpeedTestButton"
            (click)="clickEmitTestSpeed()"> {{counter()}} </button>

    }
  </div>
  <div>
    <h1>Tableaux des scores</h1>
    <p-table [value]="listPlayer"
             [tableStyle]="{ 'min-width': '50rem' }">
      <ng-template pTemplate="header">
        <tr>
          <th>Pseudo</th>
          <th>Score</th>
          <th pTooltip="Nombre de clics par seconde">CPS</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body"
                   let-player>
        <tr>
          <td>{{ player.pseudo }}</td>
          <td>{{ player.score }}</td>
          <td>{{ player.cps }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>