<div style="text-align: center;">
  <h1>Compteur: {{counter()}}</h1>
  <h1>Timer: {{timer()}}</h1>
  <div class="button-container">
    <button  (click)="increment()">+</button>
    <button  (click)="reset()">reset counter</button>
    <button  (click)="decrement()">-</button>
  </div>
  <div class="button-container">

    <button  (click)="startTimer()" >Start</button>
    <button  (click)="resetTimer()">reset  timer</button>
    <button  (click)="stopTimer()">Stop</button>
  </div>
<div >
  <h1>SpeedTestCliker</h1>
  @if(endSpeedTestButton){
    <h2>Vous avez fait {{counter()}} clics en 10 secondes !</h2>
    <button (click)="StartSpeedTestClicker()">Recommencer</button>

  }
    @if(!speedTestButtonStart){
      <button (click)="StartSpeedTestClicker()">Démarrer</button>
      
    }
    @else {
      <button  id="SpeedTestButton"  (click)="clickEmitTestSpeed()"> {{counter()}} </button>

    }
    
</div>

</div>