:host::ng-deep {

   
    font-family: Verdana, Geneva, Tahoma, sans-serif;


    .button-container {
        margin: 1rem;

        button {
           text-align: center;
           margin:0.5rem
        }
    }

    #SpeedTestButton {
        height: 15rem !important;
        width: 20rem!important;
    }

    .result-testClicker {
        margin: 2rem;
    }

    #darkmode-icon{
        margin:0.5rem ;
    }

}